.footerLink {
  fill: white;
  color: white;

  &:hover {
    fill: var(--text-primary-color);
    color: var(--text-primary-color);
  }

  transition-duration: 500ms;
}

.footerColumn {
  display: grid;
  font-weight: 200;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.footer {
  background-color: #2b303d;
  width: 100%;
}
